* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color:rgb(127, 158, 185);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-bar {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 128, 0.5);
    font-size: 1.5rem;
    width: 100vw;
}

.logo {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 3rem;
    border: 2px solid black;
}

.dropdown-menu-button {
    margin-left: auto;
    padding: .25rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    position: absolute;
    background-color: rgba(98, 182, 255, .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    top: 0;
    left: 0;
    width: 100vw;
    animation-duration: .25s;
    animation-name: slideUp;
    animation-timing-function: linear;
}

@keyframes slideDown {
    0% {
        top: -200px;
    }
    50% {
        top: -100px;
    }
    100% {
        top: 0;
    }
}

@keyframes slideUp {
    0% {
        top: 0;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -200px;
    }
}

.close-dropdown-menu-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
}

.menu {
    list-style-type: none;
}

.visible {
    visibility: visible;
    animation-duration: .25s;
    animation-name: slideDown;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.invisible {
    animation-duration: .25s;
    animation-name: slideUp;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.hidden {
    visibility: hidden;
}


.image-carousel {
    width: 80%;
    height: 500px;
    background-color: white;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    gap: 3rem;
}

.images {
    flex: 1;
    height: 80%;
    border: 2px solid red;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

[class*="image"] {
    border: 2px solid red;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.blue {
    border: 2px solid blue;
}

.image:nth-child(3) {
    flex: 3;
    height: 300px;
}

.image:nth-child(even) {
    flex: 2;
    height: 200px;
}

.image:first-of-type, .image:last-of-type {
    flex: 1;
    height: 100px;
}

@keyframes primaryShrink {
    0% {
        height: 300px;
        flex: 3;
    }
    100% {
        height: 200px;
        flex: 2;
    }
}

@keyframes secondaryShrink {
    0% {
        height: 200px;
        flex: 2;
    }
    100% {
        height: 100px;
        flex: 1;
    }
}

@keyframes secondaryExpand {
    0% {
        height: 200px;
        flex: 2;
    }
    100% {
        height: 300px;
        flex: 3;
    }
}

@keyframes tertiaryExpand {
    0% {
        height: 100px;
        flex: 1;
    }
    100% {
        height: 200px;
        flex: 2;
    }
}

@keyframes tertiaryShrink {
    0% {
        height: 100px;
        flex: 1;
    }
    100% {
        height: 000px;
        flex: 0;
        display: none;
} }

@keyframes defaultExpand {
    0% {
        height: 000px;
        flex: 0;
        display: none;
    }
    100% {
        height: 100px;
        flex: 1;
    }
}

.left-arrow, .right-arrow {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
}
